
:root {
    /* globalStaticPaletteBrandPrimary */
    --colorGlobalStaticPaletteBrandPrimary: #2b11eb;    
    /* globalStaticPaletteBrandSecondary */
    --colorGlobalStaticPaletteBrandSecondary: #000000;    
    /* globalStaticPaletteBrandTertiary */
    --colorGlobalStaticPaletteBrandTertiary: #ffffff;    
    /* globalStaticPaletteStaticBlack */
    --colorGlobalStaticPaletteStaticBlack: #000000;    
    /* globalStaticPaletteStaticWhite */
    --colorGlobalStaticPaletteStaticWhite: #ffffff;    
    /* globalDarkPaletteGray50 */
    --colorDarkPaletteGray50: #1c1d20;    
    /* globalDarkPaletteGray75 */
    --colorDarkPaletteGray75: #232326;    
    /* globalDarkPaletteGray100 */
    --colorDarkPaletteGray100: #2f2f32;    
    /* globalDarkPaletteGray200 */
    --colorDarkPaletteGray200: #3b3b3f;    
    /* globalDarkPaletteGray300 */
    --colorDarkPaletteGray300: #46474b;    
    /* globalDarkPaletteGray400 */
    --colorDarkPaletteGray400: #525358;    
    /* globalDarkPaletteGray500 */
    --colorDarkPaletteGray500: #75767d;    
    /* globalDarkPaletteGray600 */
    --colorDarkPaletteGray600: #919197;    
    /* globalDarkPaletteGray700 */
    --colorDarkPaletteGray700: #acadb1;    
    /* globalDarkPaletteGray800 */
    --colorDarkPaletteGray800: #c8c8cb;    
    /* globalDarkPaletteGray900 */
    --colorDarkPaletteGray900: #e3e4e5;    
    /* globalDarkPaletteGray1000 */
    --colorDarkPaletteGray1000: #ffffff;    
    /* globalDarkPaletteRed50 */
    --colorDarkPaletteRed50: #000000;    
    /* globalDarkPaletteRed75 */
    --colorDarkPaletteRed75: #43131a;    
    /* globalDarkPaletteRed100 */
    --colorDarkPaletteRed100: #520612;    
    /* globalDarkPaletteRed200 */
    --colorDarkPaletteRed200: #670716;    
    /* globalDarkPaletteRed300 */
    --colorDarkPaletteRed300: #7b091a;    
    /* globalDarkPaletteRed400 */
    --colorDarkPaletteRed400: #9a0b21;    
    /* globalDarkPaletteRed500 */
    --colorDarkPaletteRed500: #cd0f2c;    
    /* globalDarkPaletteRed600 */
    --colorDarkPaletteRed600: #d73f56;    
    /* globalDarkPaletteRed700 */
    --colorDarkPaletteRed700: #e16f80;    
    /* globalDarkPaletteRed800 */
    --colorDarkPaletteRed800: #eb9fab;    
    /* globalDarkPaletteRed900 */
    --colorDarkPaletteRed900: #f5cfd5;    
    /* globalDarkPaletteRed1000 */
    --colorDarkPaletteRed1000: #ffffff;    
    /* globalDarkPaletteGreen50 */
    --colorDarkPaletteGreen50: #000000;    
    /* globalDarkPaletteGreen75 */
    --colorDarkPaletteGreen75: #152d13;    
    /* globalDarkPaletteGreen100 */
    --colorDarkPaletteGreen100: #22481e;    
    /* globalDarkPaletteGreen200 */
    --colorDarkPaletteGreen200: #2b5a26;    
    /* globalDarkPaletteGreen300 */
    --colorDarkPaletteGreen300: #336c2e;    
    /* globalDarkPaletteGreen400 */
    --colorDarkPaletteGreen400: #408739;    
    /* globalDarkPaletteGreen500 */
    --colorDarkPaletteGreen500: #55b44c;    
    /* globalDarkPaletteGreen600 */
    --colorDarkPaletteGreen600: #77c370;    
    /* globalDarkPaletteGreen700 */
    --colorDarkPaletteGreen700: #99d294;    
    /* globalDarkPaletteGreen800 */
    --colorDarkPaletteGreen800: #bbe1b7;    
    /* globalDarkPaletteGreen900 */
    --colorDarkPaletteGreen900: #ddf0db;    
    /* globalDarkPaletteGreen1000 */
    --colorDarkPaletteGreen1000: #ffffff;    
    /* globalDarkPaletteOrange50 */
    --colorDarkPaletteOrange50: #000000;    
    /* globalDarkPaletteOrange75 */
    --colorDarkPaletteOrange75: #422008;    
    /* globalDarkPaletteOrange100 */
    --colorDarkPaletteOrange100: #6a330e;    
    /* globalDarkPaletteOrange200 */
    --colorDarkPaletteOrange200: #833f11;    
    /* globalDarkPaletteOrange300 */
    --colorDarkPaletteOrange300: #9d4c15;    
    /* globalDarkPaletteOrange400 */
    --colorDarkPaletteOrange400: #bb6226;    
    /* globalDarkPaletteOrange500 */
    --colorDarkPaletteOrange500: #ec8643;    
    /* globalDarkPaletteOrange600 */
    --colorDarkPaletteOrange600: #f79d60;    
    /* globalDarkPaletteOrange700 */
    --colorDarkPaletteOrange700: #f9b587;    
    /* globalDarkPaletteOrange800 */
    --colorDarkPaletteOrange800: #fbceb0;    
    /* globalDarkPaletteOrange900 */
    --colorDarkPaletteOrange900: #fde6d7;    
    /* globalDarkPaletteOrange1000 */
    --colorDarkPaletteOrange1000: #ffffff;    
    /* globalLightPaletteGray50 */
    --colorLightPaletteGray50: #ffffff;    
    /* globalLightPaletteGray75 */
    --colorLightPaletteGray75: #f7f8fc;    
    /* globalLightPaletteGray100 */
    --colorLightPaletteGray100: #f0f1f9;    
    /* globalLightPaletteGray200 */
    --colorLightPaletteGray200: #e2e3eb;    
    /* globalLightPaletteGray300 */
    --colorLightPaletteGray300: #c5c6ce;    
    /* globalLightPaletteGray400 */
    --colorLightPaletteGray400: #aaabb3;    
    /* globalLightPaletteGray500 */
    --colorLightPaletteGray500: #898e97;    
    /* globalLightPaletteGray600 */
    --colorLightPaletteGray600: #75767d;    
    /* globalLightPaletteGray700 */
    --colorLightPaletteGray700: #585a60;    
    /* globalLightPaletteGray800 */
    --colorLightPaletteGray800: #3c3c42;    
    /* globalLightPaletteGray900 */
    --colorLightPaletteGray900: #1c1d20;    
    /* globalLightPaletteGray1000 */
    --colorLightPaletteGray1000: #000000;    
    /* globalLightPaletteRed50 */
    --colorLightPaletteRed50: #ffffff;    
    /* globalLightPaletteRed75 */
    --colorLightPaletteRed75: #fff2f4;    
    /* globalLightPaletteRed100 */
    --colorLightPaletteRed100: #ffcbd3;    
    /* globalLightPaletteRed200 */
    --colorLightPaletteRed200: #ff98a7;    
    /* globalLightPaletteRed300 */
    --colorLightPaletteRed300: #ff657c;    
    /* globalLightPaletteRed400 */
    --colorLightPaletteRed400: #fb3351;    
    /* globalLightPaletteRed500 */
    --colorLightPaletteRed500: #d8102e;    
    /* globalLightPaletteRed600 */
    --colorLightPaletteRed600: #c8001e;    
    /* globalLightPaletteRed700 */
    --colorLightPaletteRed700: #980017;    
    /* globalLightPaletteRed800 */
    --colorLightPaletteRed800: #63000f;    
    /* globalLightPaletteRed900 */
    --colorLightPaletteRed900: #310007;    
    /* globalLightPaletteRed1000 */
    --colorLightPaletteRed1000: #000000;    
    /* globalLightPaletteGreen50 */
    --colorLightPaletteGreen50: #ffffff;    
    /* globalLightPaletteGreen75 */
    --colorLightPaletteGreen75: #e9fbe7;    
    /* globalLightPaletteGreen100 */
    --colorLightPaletteGreen100: #c4fbc0;    
    /* globalLightPaletteGreen200 */
    --colorLightPaletteGreen200: #96ee8e;    
    /* globalLightPaletteGreen300 */
    --colorLightPaletteGreen300: #73d86b;    
    /* globalLightPaletteGreen400 */
    --colorLightPaletteGreen400: #51c247;    
    /* globalLightPaletteGreen500 */
    --colorLightPaletteGreen500: #2fad24;    
    /* globalLightPaletteGreen600 */
    --colorLightPaletteGreen600: #1e8f14;    
    /* globalLightPaletteGreen700 */
    --colorLightPaletteGreen700: #136f0b;    
    /* globalLightPaletteGreen800 */
    --colorLightPaletteGreen800: #0d4a07;    
    /* globalLightPaletteGreen900 */
    --colorLightPaletteGreen900: #032700;    
    /* globalLightPaletteGreen1000 */
    --colorLightPaletteGreen1000: #000000;    
    /* globalLightPaletteOrange50 */
    --colorLightPaletteOrange50: #ffffff;    
    /* globalLightPaletteOrange75 */
    --colorLightPaletteOrange75: #fff2e9;    
    /* globalLightPaletteOrange100 */
    --colorLightPaletteOrange100: #ffdfcb;    
    /* globalLightPaletteOrange200 */
    --colorLightPaletteOrange200: #ffbf94;    
    /* globalLightPaletteOrange300 */
    --colorLightPaletteOrange300: #ff9f60;    
    /* globalLightPaletteOrange400 */
    --colorLightPaletteOrange400: #ff7e2a;    
    /* globalLightPaletteOrange500 */
    --colorLightPaletteOrange500: #f36203;    
    /* globalLightPaletteOrange600 */
    --colorLightPaletteOrange600: #c44d00;    
    /* globalLightPaletteOrange700 */
    --colorLightPaletteOrange700: #943a00;    
    /* globalLightPaletteOrange800 */
    --colorLightPaletteOrange800: #622700;    
    /* globalLightPaletteOrange900 */
    --colorLightPaletteOrange900: #321400;    
    /* globalLightPaletteOrange1000 */
    --colorLightPaletteOrange1000: #000000;    
    --colorAliasDarkSemanticPaletteError: #fe5971;    
    --colorAliasDarkSemanticPaletteOnError: #000000;    
    --colorAliasDarkSemanticPaletteErrorContainer: #7e0011;    
    --colorAliasDarkSemanticPaletteOnErrorContainer: #ffd2d8;    
    --colorAliasLightSemanticPaletteError: #fe1c3b;    
    --colorAliasLightSemanticPaletteOnError: #ffffff;    
    --colorAliasLightSemanticPaletteErrorContainer: #ffd2d8;    
    --colorAliasLightSemanticPaletteOnErrorContainer: #400009;    
    --colorAliasDarkSemanticPaletteSuccess: var(--colorDarkPaletteGreen700);    
    --colorAliasDarkSemanticPaletteOnSuccess: var(--colorDarkPaletteGreen50);    
    --colorAliasDarkSemanticPaletteSuccessContainer: var(--colorDarkPaletteGreen100);    
    --colorAliasDarkSemanticPaletteOnSuccessContainer: var(--colorDarkPaletteGreen900);    
    --colorAliasDarkSemanticPaletteWarning: var(--colorDarkPaletteOrange700);    
    --colorAliasDarkSemanticPaletteOnWarning: var(--colorDarkPaletteOrange50);    
    --colorAliasDarkSemanticPaletteWarningContainer: var(--colorDarkPaletteOrange100);    
    --colorAliasDarkSemanticPaletteOnWarningContainer: var(--colorDarkPaletteOrange900);    
    --colorAliasLightSemanticPaletteSuccess: var(--colorLightPaletteGreen500);    
    --colorAliasLightSemanticPaletteOnSuccess: var(--colorLightPaletteGreen50);    
    --colorAliasLightSemanticPaletteSuccessContainer: var(--colorLightPaletteGreen100);    
    --colorAliasLightSemanticPaletteOnSuccessContainer: var(--colorLightPaletteGreen900);    
    --colorAliasLightSemanticPaletteWarning: var(--colorDarkPaletteOrange500);    
    --colorAliasLightSemanticPaletteOnWarning: var(--colorLightPaletteOrange50);    
    --colorAliasLightSemanticPaletteWarningContainer: var(--colorLightPaletteOrange100);    
    --colorAliasLightSemanticPaletteOnWarningContainer: var(--colorLightPaletteOrange900);    
    --colorAliasDarkBackgroundPalettePrimary: var(--colorDarkPaletteGray50);    
    --colorAliasDarkBackgroundPaletteSecondary: var(--colorDarkPaletteGray200);    
    --colorAliasLightBackgroundPalettePrimary: var(--colorLightPaletteGray50);    
    --colorAliasLightBackgroundPaletteSecondary: var(--colorLightPaletteGray75);    
    --colorAliasDarkContentPalettePrimary: var(--colorDarkPaletteGray900);    
    --colorAliasDarkContentPaletteSecondary: var(--colorDarkPaletteGray500);    
    --colorAliasLightContentPalettePrimary: var(--colorLightPaletteGray900);    
    --colorAliasLightContentPaletteSecondary: var(--colorLightPaletteGray500);    
    --colorAliasDarkCtaBackgroundPaletteActive: var(--colorGlobalStaticPaletteBrandPrimary);    
    --colorAliasDarkCtaBackgroundPaletteDisabled: var(--colorDarkPaletteGray200);    
    --colorAliasLightCtaBackgroundPaletteActive: var(--colorGlobalStaticPaletteBrandPrimary);    
    --colorAliasLightCtaBackgroundPaletteDisabled: var(--colorLightPaletteGray200);    
    --colorAliasDarkCtaContentPaletteActive: var(--colorGlobalStaticPaletteStaticWhite);    
    --colorAliasDarkCtaContentPaletteDisabled: var(--colorDarkPaletteGray500);    
    --colorAliasLightCtaContentPaletteActive: var(--colorGlobalStaticPaletteStaticWhite);    
    --colorAliasLightCtaContentPaletteDisabled: var(--colorLightPaletteGray500);    
}