
:root {
    /* globalStaticPaletteBrandPrimary */
    --colorGlobalStaticPaletteBrandPrimary: #d8102e;    
    /* globalStaticPaletteBrandSecondary */
    --colorGlobalStaticPaletteBrandSecondary: #000000;    
    /* globalStaticPaletteBrandTertiary */
    --colorGlobalStaticPaletteBrandTertiary: #ffffff;    
    /* globalStaticPaletteStaticBlack */
    --colorGlobalStaticPaletteStaticBlack: #000000;    
    /* globalStaticPaletteStaticWhite */
    --colorGlobalStaticPaletteStaticWhite: #ffffff;    
    /* globalDarkPaletteGray50 */
    --colorGlobalDarkPaletteGray50: #1c1d20;    
    /* globalDarkPaletteGray75 */
    --colorGlobalDarkPaletteGray75: #232326;    
    /* globalDarkPaletteGray100 */
    --colorGlobalDarkPaletteGray100: #2f2f32;    
    /* globalDarkPaletteGray200 */
    --colorGlobalDarkPaletteGray200: #3b3b3f;    
    /* globalDarkPaletteGray300 */
    --colorGlobalDarkPaletteGray300: #46474b;    
    /* globalDarkPaletteGray400 */
    --colorGlobalDarkPaletteGray400: #525358;    
    /* globalDarkPaletteGray500 */
    --colorGlobalDarkPaletteGray500: #75767d;    
    /* globalDarkPaletteGray600 */
    --colorGlobalDarkPaletteGray600: #919197;    
    /* globalDarkPaletteGray700 */
    --colorGlobalDarkPaletteGray700: #acadb1;    
    /* globalDarkPaletteGray800 */
    --colorGlobalDarkPaletteGray800: #c8c8cb;    
    /* globalDarkPaletteGray900 */
    --colorGlobalDarkPaletteGray900: #e3e4e5;    
    /* globalDarkPaletteGray1000 */
    --colorGlobalDarkPaletteGray1000: #ffffff;    
    /* globalDarkPaletteRed50 */
    --colorGlobalDarkPaletteRed50: #000000;    
    /* globalDarkPaletteRed75 */
    --colorGlobalDarkPaletteRed75: #43131a;    
    /* globalDarkPaletteRed100 */
    --colorGlobalDarkPaletteRed100: #520612;    
    /* globalDarkPaletteRed200 */
    --colorGlobalDarkPaletteRed200: #670716;    
    /* globalDarkPaletteRed300 */
    --colorGlobalDarkPaletteRed300: #7b091a;    
    /* globalDarkPaletteRed400 */
    --colorGlobalDarkPaletteRed400: #9a0b21;    
    /* globalDarkPaletteRed500 */
    --colorGlobalDarkPaletteRed500: #3c0c13;    
    /* globalDarkPaletteRed600 */
    --colorGlobalDarkPaletteRed600: #d73f56;    
    /* globalDarkPaletteRed700 */
    --colorGlobalDarkPaletteRed700: #e16f80;    
    /* globalDarkPaletteRed800 */
    --colorGlobalDarkPaletteRed800: #eb9fab;    
    /* globalDarkPaletteRed900 */
    --colorGlobalDarkPaletteRed900: #f5cfd5;    
    /* globalDarkPaletteRed1000 */
    --colorGlobalDarkPaletteRed1000: #ffffff;    
    /* globalDarkPaletteGreen50 */
    --colorGlobalDarkPaletteGreen50: #000000;    
    /* globalDarkPaletteGreen75 */
    --colorGlobalDarkPaletteGreen75: #152d13;    
    /* globalDarkPaletteGreen100 */
    --colorGlobalDarkPaletteGreen100: #22481e;    
    /* globalDarkPaletteGreen200 */
    --colorGlobalDarkPaletteGreen200: #2b5a26;    
    /* globalDarkPaletteGreen300 */
    --colorGlobalDarkPaletteGreen300: #336c2e;    
    /* globalDarkPaletteGreen400 */
    --colorGlobalDarkPaletteGreen400: #408739;    
    /* globalDarkPaletteGreen500 */
    --colorGlobalDarkPaletteGreen500: #55b44c;    
    /* globalDarkPaletteGreen600 */
    --colorGlobalDarkPaletteGreen600: #77c370;    
    /* globalDarkPaletteGreen700 */
    --colorGlobalDarkPaletteGreen700: #99d294;    
    /* globalDarkPaletteGreen800 */
    --colorGlobalDarkPaletteGreen800: #bbe1b7;    
    /* globalDarkPaletteGreen900 */
    --colorGlobalDarkPaletteGreen900: #ddf0db;    
    /* globalDarkPaletteGreen1000 */
    --colorGlobalDarkPaletteGreen1000: #ffffff;    
    /* globalDarkPaletteOrange50 */
    --colorGlobalDarkPaletteOrange50: #000000;    
    /* globalDarkPaletteOrange75 */
    --colorGlobalDarkPaletteOrange75: #422008;    
    /* globalDarkPaletteOrange100 */
    --colorGlobalDarkPaletteOrange100: #6a330e;    
    /* globalDarkPaletteOrange200 */
    --colorGlobalDarkPaletteOrange200: #833f11;    
    /* globalDarkPaletteOrange300 */
    --colorGlobalDarkPaletteOrange300: #9d4c15;    
    /* globalDarkPaletteOrange400 */
    --colorGlobalDarkPaletteOrange400: #bb6226;    
    /* globalDarkPaletteOrange500 */
    --colorGlobalDarkPaletteOrange500: #ec8643;    
    /* globalDarkPaletteOrange600 */
    --colorGlobalDarkPaletteOrange600: #f79d60;    
    /* globalDarkPaletteOrange700 */
    --colorGlobalDarkPaletteOrange700: #f9b587;    
    /* globalDarkPaletteOrange800 */
    --colorGlobalDarkPaletteOrange800: #fbceb0;    
    /* globalDarkPaletteOrange900 */
    --colorGlobalDarkPaletteOrange900: #fde6d7;    
    /* globalDarkPaletteOrange1000 */
    --colorGlobalDarkPaletteOrange1000: #ffffff;    
    /* globalLightPaletteGray50 */
    --colorGlobalLightPaletteGray50: #ffffff;    
    /* globalLightPaletteGray75 */
    --colorGlobalLightPaletteGray75: #f7f8fc;    
    /* globalLightPaletteGray100 */
    --colorGlobalLightPaletteGray100: #f0f1f9;    
    /* globalLightPaletteGray200 */
    --colorGlobalLightPaletteGray200: #e2e3eb;    
    /* globalLightPaletteGray300 */
    --colorGlobalLightPaletteGray300: #c5c6ce;    
    /* globalLightPaletteGray400 */
    --colorGlobalLightPaletteGray400: #aaabb3;    
    /* globalLightPaletteGray500 */
    --colorGlobalLightPaletteGray500: #898e97;    
    /* globalLightPaletteGray600 */
    --colorGlobalLightPaletteGray600: #75767d;    
    /* globalLightPaletteGray700 */
    --colorGlobalLightPaletteGray700: #585a60;    
    /* globalLightPaletteGray800 */
    --colorGlobalLightPaletteGray800: #3c3c42;    
    /* globalLightPaletteGray900 */
    --colorGlobalLightPaletteGray900: #1c1d20;    
    /* globalLightPaletteGray1000 */
    --colorGlobalLightPaletteGray1000: #000000;    
    /* globalLightPaletteRed50 */
    --colorGlobalLightPaletteRed50: #ffffff;    
    /* globalLightPaletteRed75 */
    --colorGlobalLightPaletteRed75: #fff2f4;    
    /* globalLightPaletteRed100 */
    --colorGlobalLightPaletteRed100: #ffcbd3;    
    /* globalLightPaletteRed200 */
    --colorGlobalLightPaletteRed200: #ff98a7;    
    /* globalLightPaletteRed300 */
    --colorGlobalLightPaletteRed300: #ff657c;    
    /* globalLightPaletteRed400 */
    --colorGlobalLightPaletteRed400: #fb3351;    
    /* globalLightPaletteRed500 */
    --colorGlobalLightPaletteRed500: #d8102e;    
    /* globalLightPaletteRed600 */
    --colorGlobalLightPaletteRed600: #c8001e;    
    /* globalLightPaletteRed700 */
    --colorGlobalLightPaletteRed700: #980017;    
    /* globalLightPaletteRed800 */
    --colorGlobalLightPaletteRed800: #63000f;    
    /* globalLightPaletteRed900 */
    --colorGlobalLightPaletteRed900: #310007;    
    /* globalLightPaletteRed1000 */
    --colorGlobalLightPaletteRed1000: #000000;    
    /* globalLightPaletteGreen50 */
    --colorGlobalLightPaletteGreen50: #ffffff;    
    /* globalLightPaletteGreen75 */
    --colorGlobalLightPaletteGreen75: #e9fbe7;    
    /* globalLightPaletteGreen100 */
    --colorGlobalLightPaletteGreen100: #c4fbc0;    
    /* globalLightPaletteGreen200 */
    --colorGlobalLightPaletteGreen200: #96ee8e;    
    /* globalLightPaletteGreen300 */
    --colorGlobalLightPaletteGreen300: #73d86b;    
    /* globalLightPaletteGreen400 */
    --colorGlobalLightPaletteGreen400: #51c247;    
    /* globalLightPaletteGreen500 */
    --colorGlobalLightPaletteGreen500: #2fad24;    
    /* globalLightPaletteGreen600 */
    --colorGlobalLightPaletteGreen600: #1e8f14;    
    /* globalLightPaletteGreen700 */
    --colorGlobalLightPaletteGreen700: #136f0b;    
    /* globalLightPaletteGreen800 */
    --colorGlobalLightPaletteGreen800: #0d4a07;    
    /* globalLightPaletteGreen900 */
    --colorGlobalLightPaletteGreen900: #032700;    
    /* globalLightPaletteGreen1000 */
    --colorGlobalLightPaletteGreen1000: #000000;    
    /* globalLightPaletteOrange50 */
    --colorGlobalLightPaletteOrange50: #ffffff;    
    /* globalLightPaletteOrange75 */
    --colorGlobalLightPaletteOrange75: #fff2e9;    
    /* globalLightPaletteOrange100 */
    --colorGlobalLightPaletteOrange100: #ffdfcb;    
    /* globalLightPaletteOrange200 */
    --colorGlobalLightPaletteOrange200: #ffbf94;    
    /* globalLightPaletteOrange300 */
    --colorGlobalLightPaletteOrange300: #ff9f60;    
    /* globalLightPaletteOrange400 */
    --colorGlobalLightPaletteOrange400: #ff7e2a;    
    /* globalLightPaletteOrange500 */
    --colorGlobalLightPaletteOrange500: #f36203;    
    /* globalLightPaletteOrange600 */
    --colorGlobalLightPaletteOrange600: #c44d00;    
    /* globalLightPaletteOrange700 */
    --colorGlobalLightPaletteOrange700: #943a00;    
    /* globalLightPaletteOrange800 */
    --colorGlobalLightPaletteOrange800: #622700;    
    /* globalLightPaletteOrange900 */
    --colorGlobalLightPaletteOrange900: #321400;    
    /* globalLightPaletteOrange1000 */
    --colorGlobalLightPaletteOrange1000: #000000;    
    --colorAliasDarkSemanticPaletteError: #fe5971;    
    --colorAliasDarkSemanticPaletteOnError: #000000;    
    --colorAliasDarkSemanticPaletteErrorContainer: #7e0011;    
    --colorAliasDarkSemanticPaletteOnErrorContainer: #ffd2d8;    
    --colorAliasLightSemanticPaletteError: #fe1c3b;    
    --colorAliasLightSemanticPaletteOnError: #ffffff;    
    --colorAliasLightSemanticPaletteErrorContainer: #ffd2d8;    
    --colorAliasLightSemanticPaletteOnErrorContainer: #400009;    
    --colorAliasDarkSemanticPaletteSuccess: var(--colorGlobalDarkPaletteGreen700);    
    --colorAliasDarkSemanticPaletteOnSuccess: var(--colorGlobalDarkPaletteGreen50);    
    --colorAliasDarkSemanticPaletteSuccessContainer: var(--colorGlobalDarkPaletteGreen100);    
    --colorAliasDarkSemanticPaletteOnSuccessContainer: var(--colorGlobalDarkPaletteGreen900);    
    --colorAliasDarkSemanticPaletteWarning: var(--colorGlobalDarkPaletteOrange700);    
    --colorAliasDarkSemanticPaletteOnWarning: var(--colorGlobalDarkPaletteOrange50);    
    --colorAliasDarkSemanticPaletteWarningContainer: var(--colorGlobalDarkPaletteOrange100);    
    --colorAliasDarkSemanticPaletteOnWarningContainer: var(--colorGlobalDarkPaletteOrange900);    
    --colorAliasLightSemanticPaletteSuccess: var(--colorGlobalLightPaletteGreen500);    
    --colorAliasLightSemanticPaletteOnSuccess: var(--colorGlobalLightPaletteGreen50);    
    --colorAliasLightSemanticPaletteSuccessContainer: var(--colorGlobalLightPaletteGreen100);    
    --colorAliasLightSemanticPaletteOnSuccessContainer: var(--colorGlobalLightPaletteGreen900);    
    --colorAliasLightSemanticPaletteWarning: var(--colorGlobalDarkPaletteOrange500);    
    --colorAliasLightSemanticPaletteOnWarning: var(--colorGlobalLightPaletteOrange50);    
    --colorAliasLightSemanticPaletteWarningContainer: var(--colorGlobalLightPaletteOrange100);    
    --colorAliasLightSemanticPaletteOnWarningContainer: var(--colorGlobalLightPaletteOrange900);    
    --colorAliasDarkBackgroundPalettePrimary: var(--colorGlobalDarkPaletteGray50);    
    --colorAliasDarkBackgroundPaletteSecondary: var(--colorGlobalDarkPaletteGray200);    
    --colorAliasLightBackgroundPalettePrimary: var(--colorGlobalLightPaletteGray50);    
    --colorAliasLightBackgroundPaletteSecondary: var(--colorGlobalLightPaletteGray75);    
    --colorAliasDarkContentPalettePrimary: var(--colorGlobalDarkPaletteGray900);    
    --colorAliasDarkContentPaletteSecondary: var(--colorGlobalDarkPaletteGray500);    
    --colorAliasLightContentPalettePrimary: var(--colorGlobalLightPaletteGray900);    
    --colorAliasLightContentPaletteSecondary: var(--colorGlobalLightPaletteGray500);    
    --colorAliasDarkCtaBackgroundPaletteActive: var(--colorGlobalStaticPaletteBrandPrimary);    
    --colorAliasDarkCtaBackgroundPaletteDisabled: var(--colorGlobalDarkPaletteGray200);    
    --colorAliasLightCtaBackgroundPaletteActive: var(--colorGlobalStaticPaletteBrandPrimary);    
    --colorAliasLightCtaBackgroundPaletteDisabled: var(--colorGlobalLightPaletteGray200);    
    --colorAliasDarkCtaContentPaletteActive: var(--colorGlobalStaticPaletteStaticWhite);    
    --colorAliasDarkCtaContentPaletteDisabled: var(--colorGlobalDarkPaletteGray500);    
    --colorAliasLightCtaContentPaletteActive: var(--colorGlobalStaticPaletteStaticWhite);    
    --colorAliasLightCtaContentPaletteDisabled: var(--colorGlobalLightPaletteGray500);    
}