
:root {
    --colorOba2GlobalStaticPaletteBrandPrimary: #1e95cf;    
    --colorOba2GlobalStaticPaletteBrandSecondary: #000000;    
    --colorOba2GlobalStaticPaletteBrandTertiary: #ffffff;    
    --colorOba2GlobalStaticPaletteStaticBlack: #000000;    
    --colorOba2GlobalStaticPaletteStaticWhite: #ffffff;    
    --colorOba2GlobalDarkPaletteGray50: #1c1d20;    
    --colorOba2GlobalDarkPaletteGray75: #232326;    
    --colorOba2GlobalDarkPaletteGray100: #2f2f32;    
    --colorOba2GlobalDarkPaletteGray200: #3b3b3f;    
    --colorOba2GlobalDarkPaletteGray300: #46474b;    
    --colorOba2GlobalDarkPaletteGray400: #525358;    
    --colorOba2GlobalDarkPaletteGray500: #75767d;    
    --colorOba2GlobalDarkPaletteGray600: #919197;    
    --colorOba2GlobalDarkPaletteGray700: #acadb1;    
    --colorOba2GlobalDarkPaletteGray800: #c8c8cb;    
    --colorOba2GlobalDarkPaletteGray900: #e3e4e5;    
    --colorOba2GlobalDarkPaletteGray1000: #ffffff;    
    --colorOba2GlobalDarkPaletteRed50: #000000;    
    --colorOba2GlobalDarkPaletteRed75: #43131a;    
    --colorOba2GlobalDarkPaletteRed100: #520612;    
    --colorOba2GlobalDarkPaletteRed200: #670716;    
    --colorOba2GlobalDarkPaletteRed300: #7b091a;    
    --colorOba2GlobalDarkPaletteRed400: #9a0b21;    
    --colorOba2GlobalDarkPaletteRed500: #cd0f2c;    
    --colorOba2GlobalDarkPaletteRed600: #d73f56;    
    --colorOba2GlobalDarkPaletteRed700: #e16f80;    
    --colorOba2GlobalDarkPaletteRed800: #eb9fab;    
    --colorOba2GlobalDarkPaletteRed900: #f5cfd5;    
    --colorOba2GlobalDarkPaletteRed1000: #ffffff;    
    --colorOba2GlobalDarkPaletteGreen50: #000000;    
    --colorOba2GlobalDarkPaletteGreen75: #152d13;    
    --colorOba2GlobalDarkPaletteGreen100: #22481e;    
    --colorOba2GlobalDarkPaletteGreen200: #2b5a26;    
    --colorOba2GlobalDarkPaletteGreen300: #336c2e;    
    --colorOba2GlobalDarkPaletteGreen400: #408739;    
    --colorOba2GlobalDarkPaletteGreen500: #55b44c;    
    --colorOba2GlobalDarkPaletteGreen600: #77c370;    
    --colorOba2GlobalDarkPaletteGreen700: #99d294;    
    --colorOba2GlobalDarkPaletteGreen800: #bbe1b7;    
    --colorOba2GlobalDarkPaletteGreen900: #ddf0db;    
    --colorOba2GlobalDarkPaletteGreen1000: #ffffff;    
    --colorOba2GlobalDarkPaletteOrange50: #000000;    
    --colorOba2GlobalDarkPaletteOrange75: #422008;    
    --colorOba2GlobalDarkPaletteOrange100: #6a330e;    
    --colorOba2GlobalDarkPaletteOrange200: #833f11;    
    --colorOba2GlobalDarkPaletteOrange300: #9d4c15;    
    --colorOba2GlobalDarkPaletteOrange400: #bb6226;    
    --colorOba2GlobalDarkPaletteOrange500: #ec8643;    
    --colorOba2GlobalDarkPaletteOrange600: #f79d60;    
    --colorOba2GlobalDarkPaletteOrange700: #f9b587;    
    --colorOba2GlobalDarkPaletteOrange800: #fbceb0;    
    --colorOba2GlobalDarkPaletteOrange900: #fde6d7;    
    --colorOba2GlobalDarkPaletteOrange1000: #ffffff;    
    /* $oba2-global-color.gray.50 */
    --colorOba2GlobalLightPaletteGray50: #ffffff;    
    /* $oba2-global-color.gray.75 */
    --colorOba2GlobalLightPaletteGray75: #f7f8fc;    
    /* $oba2-global-color.gray.100 */
    --colorOba2GlobalLightPaletteGray100: #f0f1f9;    
    /* $oba2-global-color.gray.200 */
    --colorOba2GlobalLightPaletteGray200: #e2e3eb;    
    /* $oba2-global-color.gray.300 */
    --colorOba2GlobalLightPaletteGray300: #c5c6ce;    
    /* $oba2-global-color.gray.400 */
    --colorOba2GlobalLightPaletteGray400: #aaabb3;    
    /* $oba2-global-color.gray.500 */
    --colorOba2GlobalLightPaletteGray500: #898e97;    
    /* $oba2-global-color.gray.600 */
    --colorOba2GlobalLightPaletteGray600: #75767d;    
    /* $oba2-global-color.gray.700 */
    --colorOba2GlobalLightPaletteGray700: #585a60;    
    /* $oba2-global-color.gray.800 */
    --colorOba2GlobalLightPaletteGray800: #3c3c42;    
    /* $oba2-global-color.gray.900 */
    --colorOba2GlobalLightPaletteGray900: #1c1d20;    
    /* $oba2-global-color.gray.1000 */
    --colorOba2GlobalLightPaletteGray1000: #000000;    
    /* $oba2-global-color.red.50 */
    --colorOba2GlobalLightPaletteRed50: #ffffff;    
    /* $oba2-global-color.red.75 */
    --colorOba2GlobalLightPaletteRed75: #fff2f4;    
    /* $oba2-global-color.red.100 */
    --colorOba2GlobalLightPaletteRed100: #ffcbd3;    
    /* $oba2-global-color.red.200 */
    --colorOba2GlobalLightPaletteRed200: #ff98a7;    
    /* $oba2-global-color.red.300 */
    --colorOba2GlobalLightPaletteRed300: #ff657c;    
    /* $oba2-global-color.red.400 */
    --colorOba2GlobalLightPaletteRed400: #fb3351;    
    /* $oba2-global-color.red.500 */
    --colorOba2GlobalLightPaletteRed500: #d8102e;    
    /* $oba2-global-color.red.600 */
    --colorOba2GlobalLightPaletteRed600: #c8001e;    
    /* $oba2-global-color.red.700 */
    --colorOba2GlobalLightPaletteRed700: #980017;    
    /* $oba2-global-color.red.800 */
    --colorOba2GlobalLightPaletteRed800: #63000f;    
    /* $oba2-global-color.red.900 */
    --colorOba2GlobalLightPaletteRed900: #310007;    
    /* $oba2-global-color.red.1000 */
    --colorOba2GlobalLightPaletteRed1000: #000000;    
    /* $oba2-global-color.green.50 */
    --colorOba2GlobalLightPaletteGreen50: #ffffff;    
    /* $oba2-global-color.green.75 */
    --colorOba2GlobalLightPaletteGreen75: #e9fbe7;    
    /* $oba2-global-color.green.100 */
    --colorOba2GlobalLightPaletteGreen100: #c4fbc0;    
    /* $oba2-global-color.green.200 */
    --colorOba2GlobalLightPaletteGreen200: #96ee8e;    
    /* $oba2-global-color.green.300 */
    --colorOba2GlobalLightPaletteGreen300: #73d86b;    
    /* $oba2-global-color.green.400 */
    --colorOba2GlobalLightPaletteGreen400: #51c247;    
    /* $oba2-global-color.green.500 */
    --colorOba2GlobalLightPaletteGreen500: #2fad24;    
    /* $oba2-global-color.green.600 */
    --colorOba2GlobalLightPaletteGreen600: #1e8f14;    
    /* $oba2-global-color.green.700 */
    --colorOba2GlobalLightPaletteGreen700: #136f0b;    
    /* $oba2-global-color.green.800 */
    --colorOba2GlobalLightPaletteGreen800: #0d4a07;    
    /* $oba2-global-color.green.900 */
    --colorOba2GlobalLightPaletteGreen900: #032700;    
    /* $oba2-global-color.green.1000 */
    --colorOba2GlobalLightPaletteGreen1000: #000000;    
    /* $oba2-global-color.orange.50 */
    --colorOba2GlobalLightPaletteOrange50: #ffffff;    
    /* $oba2-global-color.orange.75 */
    --colorOba2GlobalLightPaletteOrange75: #fff2e9;    
    /* $oba2-global-color.orange.100 */
    --colorOba2GlobalLightPaletteOrange100: #ffdfcb;    
    /* $oba2-global-color.orange.200 */
    --colorOba2GlobalLightPaletteOrange200: #ffbf94;    
    /* $oba2-global-color.orange.300 */
    --colorOba2GlobalLightPaletteOrange300: #ff9f60;    
    /* $oba2-global-color.orange.400 */
    --colorOba2GlobalLightPaletteOrange400: #ff7e2a;    
    /* $oba2-global-color.orange.500 */
    --colorOba2GlobalLightPaletteOrange500: #f36203;    
    /* $oba2-global-color.orange.600 */
    --colorOba2GlobalLightPaletteOrange600: #c44d00;    
    /* $oba2-global-color.orange.700 */
    --colorOba2GlobalLightPaletteOrange700: #943a00;    
    /* $oba2-global-color.orange.800 */
    --colorOba2GlobalLightPaletteOrange800: #622700;    
    /* $oba2-global-color.orange.900 */
    --colorOba2GlobalLightPaletteOrange900: #321400;    
    /* $oba2-global-color.orange.1000 */
    --colorOba2GlobalLightPaletteOrange1000: #000000;    
    --colorOba2AliasDarkSemanticPaletteError: #fe5971;    
    --colorOba2AliasDarkSemanticPaletteOnError: #000000;    
    --colorOba2AliasDarkSemanticPaletteErrorContainer: #7e0011;    
    --colorOba2AliasDarkSemanticPaletteOnErrorContainer: #ffd2d8;    
    --colorOba2AliasLightSemanticPaletteError: #fe1c3b;    
    --colorOba2AliasLightSemanticPaletteOnError: #ffffff;    
    --colorOba2AliasLightSemanticPaletteErrorContainer: #ffd2d8;    
    --colorOba2AliasLightSemanticPaletteOnErrorContainer: #400009;    
    --colorOba2AliasDarkSemanticPaletteSuccess: var(--colorOba2GlobalDarkPaletteGreen700);    
    --colorOba2AliasDarkSemanticPaletteOnSuccess: var(--colorOba2GlobalDarkPaletteGreen50);    
    --colorOba2AliasDarkSemanticPaletteSuccessContainer: var(--colorOba2GlobalDarkPaletteGreen100);    
    --colorOba2AliasDarkSemanticPaletteOnSuccessContainer: var(--colorOba2GlobalDarkPaletteGreen900);    
    --colorOba2AliasDarkSemanticPaletteWarning: var(--colorOba2GlobalDarkPaletteOrange700);    
    --colorOba2AliasDarkSemanticPaletteOnWarning: var(--colorOba2GlobalDarkPaletteOrange50);    
    --colorOba2AliasDarkSemanticPaletteWarningContainer: var(--colorOba2GlobalDarkPaletteOrange100);    
    --colorOba2AliasDarkSemanticPaletteOnWarningContainer: var(--colorOba2GlobalDarkPaletteOrange900);    
    --colorOba2AliasLightSemanticPaletteSuccess: var(--colorOba2GlobalLightPaletteGreen500);    
    --colorOba2AliasLightSemanticPaletteOnSuccess: var(--colorOba2GlobalLightPaletteGreen50);    
    --colorOba2AliasLightSemanticPaletteSuccessContainer: var(--colorOba2GlobalLightPaletteGreen100);    
    --colorOba2AliasLightSemanticPaletteOnSuccessContainer: var(--colorOba2GlobalLightPaletteGreen900);    
    --colorOba2AliasLightSemanticPaletteWarning: var(--colorOba2GlobalDarkPaletteOrange500);    
    --colorOba2AliasLightSemanticPaletteOnWarning: var(--colorOba2GlobalLightPaletteOrange50);    
    --colorOba2AliasLightSemanticPaletteWarningContainer: var(--colorOba2GlobalLightPaletteOrange100);    
    --colorOba2AliasLightSemanticPaletteOnWarningContainer: var(--colorOba2GlobalLightPaletteOrange900);    
    --colorOba2AliasDarkBackgroundPalettePrimary: var(--colorOba2GlobalDarkPaletteGray50);    
    --colorOba2AliasDarkBackgroundPaletteSecondary: var(--colorOba2GlobalDarkPaletteGray200);    
    --colorOba2AliasLightBackgroundPalettePrimary: var(--colorOba2GlobalLightPaletteGray50);    
    --colorOba2AliasLightBackgroundPaletteSecondary: var(--colorOba2GlobalLightPaletteGray75);    
    --colorOba2AliasDarkContentPalettePrimary: var(--colorOba2GlobalDarkPaletteGray900);    
    --colorOba2AliasDarkContentPaletteSecondary: var(--colorOba2GlobalDarkPaletteGray500);    
    --colorOba2AliasLightContentPalettePrimary: var(--colorOba2GlobalLightPaletteGray900);    
    --colorOba2AliasLightContentPaletteSecondary: var(--colorOba2GlobalLightPaletteGray500);    
    --colorOba2AliasDarkCtaBackgroundPaletteActive: var(--colorOba2GlobalStaticPaletteBrandPrimary);    
    --colorOba2AliasDarkCtaBackgroundPaletteDisabled: var(--colorOba2GlobalDarkPaletteGray200);    
    --colorOba2AliasLightCtaBackgroundPaletteActive: var(--colorOba2GlobalStaticPaletteBrandPrimary);    
    --colorOba2AliasLightCtaBackgroundPaletteDisabled: var(--colorOba2GlobalLightPaletteGray200);    
    --colorOba2AliasDarkCtaContentPaletteActive: var(--colorOba2GlobalStaticPaletteStaticWhite);    
    --colorOba2AliasDarkCtaContentPaletteDisabled: var(--colorOba2GlobalDarkPaletteGray500);    
    --colorOba2AliasLightCtaContentPaletteActive: var(--colorOba2GlobalStaticPaletteStaticWhite);    
    --colorOba2AliasLightCtaContentPaletteDisabled: var(--colorOba2GlobalLightPaletteGray500);    
}