
:root {
    --measureGlobalTypographyMobileFontSizeFontSize50: 10px;    
    --measureGlobalTypographyMobileFontSizeFontSize75: 12px;    
    --measureGlobalTypographyMobileFontSizeFontSize100: 14px;    
    --measureGlobalTypographyMobileFontSizeFontSize200: 16px;    
    --measureGlobalTypographyMobileFontSizeFontSize300: 18px;    
    --measureGlobalTypographyMobileFontSizeFontSize400: 20px;    
    --measureGlobalTypographyMobileFontSizeFontSize500: 22px;    
    --measureGlobalTypographyMobileFontSizeFontSize600: 25px;    
    --measureGlobalTypographyMobileFontSizeFontSize700: 28px;    
    --measureGlobalTypographyMobileFontSizeFontSize800: 32px;    
    --measureGlobalTypographyMobileFontSizeFontSize900: 36px;    
    --measureGlobalTypographyMobileFontSizeFontSize1000: 40px;    
    --measureGlobalTypographyMobileFontSizeFontSize1100: 45px;    
    --measureGlobalTypographyMobileFontSizeFontSize1200: 50px;    
    --measureGlobalTypographyMobileFontSizeFontSize1300: 60px;    
    --measureGlobalTypographyMobileLineHeightLineHeight50: 16px;    
    --measureGlobalTypographyMobileLineHeightLineHeight75: 18px;    
    --measureGlobalTypographyMobileLineHeightLineHeight100: 22px;    
    --measureGlobalTypographyMobileLineHeightLineHeight200: 24px;    
    --measureGlobalTypographyMobileLineHeightLineHeight300: 26px;    
    --measureGlobalTypographyMobileLineHeightLineHeight400: 30px;    
    --measureGlobalTypographyMobileLineHeightLineHeight500: 32px;    
    --measureGlobalTypographyMobileLineHeightLineHeight600: 36px;    
    --measureGlobalTypographyMobileLineHeightLineHeight700: 40px;    
    --measureGlobalTypographyMobileLineHeightLineHeight800: 46px;    
    --measureGlobalTypographyMobileLineHeightLineHeight900: 52px;    
    --measureGlobalTypographyMobileLineHeightLineHeight1000: 58px;    
    --measureGlobalTypographyMobileLineHeightLineHeight1100: 64px;    
    --measureGlobalTypographyMobileLineHeightLineHeight1200: 72px;    
    --measureGlobalTypographyMobileLineHeightLineHeight1300: 86px;    
    --measureGlobalTypographyMobileSpacingFontSpacing50: -0.03px;    
    --measureGlobalTypographyMobileSpacingFontSpacing75: -0.05px;    
    --measureGlobalTypographyMobileSpacingFontSpacing100: -0.1px;    
    --measureGlobalTypographyMobileSpacingFontSpacing200: -0.1px;    
    --measureGlobalTypographyMobileSpacingFontSpacing300: -0.25px;    
    --measureGlobalTypographyMobileSpacingFontSpacing400: -0.3px;    
    --measureGlobalTypographyMobileSpacingFontSpacing500: -0.35px;    
    --measureGlobalTypographyMobileSpacingFontSpacing600: -0.4px;    
    --measureGlobalTypographyMobileSpacingFontSpacing700: -0.45px;    
    --measureGlobalTypographyMobileSpacingFontSpacing800: -0.5px;    
    --measureGlobalTypographyMobileSpacingFontSpacing900: -0.55px;    
    --measureGlobalTypographyMobileSpacingFontSpacing1000: -0.6px;    
    --measureGlobalTypographyMobileSpacingFontSpacing1100: -0.65px;    
    --measureGlobalTypographyMobileSpacingFontSpacing1200: -0.7px;    
    --measureGlobalTypographyMobileSpacingFontSpacing1300: -0.75px;    
    --measureGlobalSpacingSpacing0: 0px;    
    --measureGlobalSpacingSpacing50: 2px;    
    /* Our base unit for calculating spacing */
    --measureGlobalSpacingSpacing100: 4px;    
    --measureGlobalSpacingSpacing200: 8px;    
    --measureGlobalSpacingSpacing300: 12px;    
    --measureGlobalSpacingSpacing400: 16px;    
    --measureGlobalSpacingSpacing500: 20px;    
    --measureGlobalSpacingSpacing600: 24px;    
    --measureGlobalSpacingSpacing700: 28px;    
    --measureGlobalSpacingSpacing800: 32px;    
    --measureGlobalSpacingSpacing900: 36px;    
    --measureGlobalSpacingSpacing1000: 40px;    
    --measureGlobalSpacingSpacing1100: 44px;    
    --measureGlobalSpacingSpacing1200: 48px;    
    --measureGlobalScalingScaling0: 0px;    
    --measureGlobalScalingScaling50: 2px;    
    /* Our base unit for calculating scaling */
    --measureGlobalScalingScaling100: 4px;    
    --measureGlobalScalingScaling200: 8px;    
    --measureGlobalScalingScaling300: 12px;    
    --measureGlobalScalingScaling400: 16px;    
    --measureGlobalScalingScaling500: 20px;    
    --measureGlobalScalingScaling600: 24px;    
    --measureGlobalScalingScaling700: 28px;    
    --measureGlobalScalingScaling800: 32px;    
    --measureGlobalScalingScaling900: 36px;    
    --measureGlobalScalingScaling1000: 40px;    
    --measureGlobalScalingScaling1100: 44px;    
    --measureGlobalScalingScaling1200: 48px;    
}