.typographyGlobalMobileSizeFontSize75 
 {
  
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyGlobalMobileSizeFontSize100 
 {
  
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing:  
  -0.01em;
  text-indent: 0px;
  
}    

.typographyGlobalMobileSizeFontSize200 
 {
  
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing:  
  -0.01em;
  text-indent: 0px;
  
}    

.typographyGlobalMobileSizeFontSize300 
 {
  
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing:  
  -0.01em;
  text-indent: 0px;
  
}    

.typographyGlobalMobileSizeFontSize400 
 {
  
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing:  
  -0.01em;
  text-indent: 0px;
  
}    

.typographyGlobalMobileSizeFontSize500 
 {
  
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  letter-spacing:  
  -0.02em;
  text-indent: 0px;
  
}    

.typographyGlobalMobileSizeFontSize600 
 {
  
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 36px;
  letter-spacing:  
  -0.02em;
  text-indent: 0px;
  
}    

.typographyGlobalMobileSizeFontSize700 
 {
  
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  letter-spacing:  
  -0.02em;
  text-indent: 0px;
  
}    

.typographyGlobalMobileSizeFontSize800 
 {
  
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;
  letter-spacing:  
  -0.02em;
  text-indent: 0px;
  
}    

.typographyGlobalMobileSizeFontSize900 
 {
  
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 52px;
  letter-spacing:  
  -0.02em;
  text-indent: 0px;
  
}    

.typographyGlobalMobileSizeFontSize1000 
 {
  
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 58px;
  letter-spacing:  
  -0.01em;
  text-indent: 0px;
  
}    

.typographyGlobalMobileSizeFontSize1100 
 {
  
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 64px;
  letter-spacing:  
  -0.01em;
  text-indent: 0px;
  
}    

.typographyGlobalMobileSizeFontSize1200 
 {
  
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 72px;
  letter-spacing:  
  -0.01em;
  text-indent: 0px;
  
}    

.typographyGlobalMobileSizeFontSize1300 
 {
  
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 86px;
  letter-spacing:  
  -0.01em;
  text-indent: 0px;
  
}    

.typographyGlobalMobileSizeFontSize50 
 {
  
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyGlobalMobileWeightFontWeight100 
 {
  
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  line-height: 22px;
  letter-spacing:  
  -0.01em;
  text-indent: 0px;
  
}    

.typographyGlobalMobileWeightFontWeight300 
 {
  
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  letter-spacing:  
  -0.01em;
  text-indent: 0px;
  
}    

.typographyGlobalMobileWeightFontWeight400 
 {
  
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing:  
  -0.01em;
  text-indent: 0px;
  
}    

.typographyGlobalMobileWeightFontWeight500 
 {
  
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing:  
  -0.01em;
  text-indent: 0px;
  
}    

.typographyGlobalMobileWeightFontWeight700 
 {
  
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing:  
  -0.01em;
  text-indent: 0px;
  
}    

.typographyGlobalMobileWeightFontWeight900 
 {
  
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 22px;
  letter-spacing:  
  -0.01em;
  text-indent: 0px;
  
}    

.typographyGlobalMobileTypefaceFontPrimary 
 {
  
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing:  
  -0.01em;
  text-indent: 0px;
  
}    

.typographyGlobalMobileTypefaceFontSecondary 
 {
  
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing:  
  -0.01em;
  text-indent: 0px;
  
}    

